name: CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  test-and-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Java 21
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "21"
          cache: "maven"

      - name: Run tests
        run: mvn -B clean test

      - name: Generate JaCoCo report
        run: mvn -B jacoco:report
